%section#promo-box
  .wrapper
    .col1
      .mega-event
        content
      .mega-caption
        Dzisiaj
        %span /
        20.00
        %span /
        Klub Alibi
      .i-am-in-button
        wybieram się

    .col2
      col2